#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.square {
  padding: 50px;
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 4px;
}

.visible {
  border: 1px solid black;
  
}

.hidden {
  opacity: 0;
}

.green {
  background-color: #0bcc59;
}

.shape-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.control-panel-wrapper {
  display: flex;
  flex-direction: column;
}
.control-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}
.control-panel-square {
  padding: 25px;
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 4px;
}